*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.nav-item2 a{
    color: black;
}
header img{
    margin-left: 70px;
    padding: 5px;

}
.nav-item{
    margin-left: 10px;
    color: rgb(182, 182, 182);
}
.navbar-nav{
    margin-left: 200px;
}
h2{
    display: block;
    font-size: 3rem;
    
    color:rgb(91, 91, 218) ;
}
p{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 1.2rem;
  
    font-weight: 100;
}

input{
    margin-left: 80px;
    width: 400px;
    height: 36px;
}

.ipt  button{
    color: white;
    background-color:rgb(91, 91, 218);
    height: 36px;
    width: 100px;
    border-radius: 90px;
}